* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-bottom: 2rem;
}

td {
  border: 2px solid black;
  width: 33vw;
}

tr{
  border: 2px solid black;
  width: 100vw;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
  border: 2px solid black;
}

button.reset {
  width: 100%;
}

body {
  background: url(../img/vote-intro.jpg) no-repeat center center/contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  
}