.flex-intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

button {
  margin-bottom: 7rem;
  background-color: black;
  color: white;
  border: 5px solid white;
  padding: 3% 6%;
  font-size: 2rem;
  cursor: pointer;
}