.flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;

  background: url(../img/vote-intro.jpg) no-repeat center center/contain;
}